<div class="container mt-4">
  <h1 class="mb-4">Tus Compras</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-primary">
        <tr>
          <th scope="col"># Pedido</th>
          <th scope="col">ID Cubo</th>
          <th scope="col">Fecha del Pedido</th>
        </tr>
      </thead>
      <tbody>
        @for(compra of compras; track compra) {
          <tr>
            <td>{{ compra.idPedido }}</td>
            <td>{{ compra.idCubo }}</td>
            <td>{{ compra.fechaPedido }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col"><a class="btn btn-primary w-100" [routerLink]="['/login']">Volver al perfil</a></div>
    <div class="col"><a class="btn btn-primary w-100" [routerLink]="['/pedido']">Realizar pedido</a></div>
  </div>
</div>
